/* when done, fix this breaking on different zoom levels */

html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 1% 20%; /* originally had this as a % on padding-left and padding-right with a height manually set but this seems to work better for responsiveness - at the time of creating i haven't yet learnt about responsive design. note: 1% 20% is the same as 1% 20% 1% 20%*/
}

.header-left {
    color: #F9FAF8;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-self: center;
    gap: 2vw;
}

a.header-link {
    color: #E5E7EB;
}

.content {

}

.hero-block {
    display: flex;
    background-color: #1F2937;
    padding: 5% 20% 7% 20%; /* more padding at the bottom than the top */
    gap: 7vw;
    align-items: center;
}

.hero-left {
    flex: 1;
}

.hero-header {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    padding: 2% 0;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    padding: 3% 10%;
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;
}

.hero-right {
    flex: 1;
}

.hero-image-container {
    background-color: #6D747D;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-text {
    color: #E5E7EB;
    text-align: center;
}

.info-block {
    padding: 2% 0 3% 0;
}

.info-header {
    text-align: center; /* margin: auto doesn't work here because divs automatically take up full width */
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 2%;
}

.info-card-container {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* we use align instead of justify here, because the cross-axis has changed */
}

.info-card-image {
    height: 10vw; /* you can use vw for the height as well - this ensures they're square */
    width: 10vw;
    outline-style: solid;
    outline-width: 4px;
    outline-color: #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-card-text {
    text-align: center;
    width: 15vh;
    color: #1F2937
}

.quote-block {
    background-color: #E5E7EB;
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-text {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    width: 40vw;
}

.quote-attributee {
    font-weight: bold;
    font-size: 24px;
    width: 42vw;
    align-self: flex-end;
}

.cta-block {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    width: 60vw;
    height: 15vh;
    border-radius: 10px;
}

.cta-left {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15%;
    flex: 3;
}

.cta-header {
    font-weight: bold;
}

.cta-text {

}

.cta-right {
    display: flex;
    flex: 1;
    align-self: center;
    justify-self: center;
    padding: 0 10% 0 0;
}

.cta-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: solid 2px;
    padding: 3% 10%;
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 2% 0;
}

/* not actually needed considering i haven't studied responsiveness but it was bugging me */
@media all and (max-width: 800px) {
    .hero-header {
        font-size: 38px;
    }
}

@media all and (max-width: 1400px) {
    .quote-text {
        font-size: 24px;
    }

    .quote-attributee {
        font-size: 18px;
    }
}